<div class="table-container">
    <div class="new-element">
        <h1>Proveedores</h1>
        <button (click)="proveedoresForm()">Nuevo Proveedor</button>
    </div>
    <div class="table">
        <table id="mytable2" class="row-border hover" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo Doc.</th>
                    <th>Num. Doc</th>
                    <th>Correo</th>
                    <th>Partida Elec.</th>
                    <th>Representante</th>
                    <th>Tipo Doc.</th>
                    <th>Num Doc.</th>
                    <th>Cargo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of proveedores">
                    <td>{{p.nombreprov}}</td>
                    <td>{{p.tipodocprov}}</td>
                    <td>{{p.numdocprov}}</td>
                    <td>{{p.correoprov}}</td>
                    <td>{{p.partidaelec}}</td>
                    <td>{{p.nombrerep}}</td>
                    <td>{{p.tipodocrep}}</td>
                    <td>{{p.numdocrep}}</td>
                    <td>{{p.cargorep}}</td>
                    <td>
                        <div class="actions">
                            <button class="icon-btn info"><i class='bx bx-info-circle info' ></i></button>
                            <button class="icon-btn edit"><i class='bx bx-edit-alt edit' ></i></button>
                            <button class="icon-btn delete"><i class='bx bx-trash delete' ></i></button>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

