<div class="table-container">
    <div class="new-element">
        <h1>Proveedores</h1>
        <button>Nuevo Proveedor</button>
    </div>
    <div class="table">
        <table id="mytable2" class="row-border hover" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo Doc.</th>
                    <th>Num. Doc</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Partida Elec.</th>
                    <th>Representante</th>
                    <th>Tipo Doc.</th>
                    <th>Num Doc.</th>
                    <th>Cargo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Salmon</td>
                    <td>RUC</td>
                    <td>12333214234</td>
                    <td>salmon@gmail.com</td>
                    <td>942958745</td>
                    <td>484657898456</td>
                    <td>Jorge Hernan Vasquez</td>
                    <td>DNI</td>
                    <td>78954665</td>
                    <td>Jefe Operaciones</td>
                    <td>
                        <div class="actions">
                            <button class="icon-btn info"><i class='bx bx-info-circle info' ></i></button>
                            <button class="icon-btn edit"><i class='bx bx-edit-alt edit' ></i></button>
                            <button class="icon-btn delete"><i class='bx bx-trash delete' ></i></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Salmon</td>
                    <td>RUC</td>
                    <td>12333214234</td>
                    <td>salmon@gmail.com</td>
                    <td>942958745</td>
                    <td>484657898456</td>
                    <td>Jorge Hernan Vasquez</td>
                    <td>DNI</td>
                    <td>78954665</td>
                    <td>Jefe Operaciones</td>
                    <td>
                        <div class="actions">
                            <button class="icon-btn info"><i class='bx bx-info-circle info' ></i></button>
                            <button class="icon-btn edit"><i class='bx bx-edit-alt edit' ></i></button>
                            <button class="icon-btn delete"><i class='bx bx-trash delete' ></i></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Salmon</td>
                    <td>RUC</td>
                    <td>12333214234</td>
                    <td>salmon@gmail.com</td>
                    <td>942958745</td>
                    <td>484657898456</td>
                    <td>Jorge Hernan Vasquez</td>
                    <td>DNI</td>
                    <td>78954665</td>
                    <td>Jefe Operaciones</td>
                    <td>
                        <div class="actions">
                            <button class="icon-btn info"><i class='bx bx-info-circle info' ></i></button>
                            <button class="icon-btn edit"><i class='bx bx-edit-alt edit' ></i></button>
                            <button class="icon-btn delete"><i class='bx bx-trash delete' ></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

