<div class="table-container">
    <div class="new-element">
        <h1>Usuarios</h1>
        <button id="nuevoUsuario" (click)="usuarioForm()">Nuevo Usuario</button>
    </div>
    <div class="table">
        <table id="mytable" class="row-border hover" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>DNI</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sonya Frost</td>
                    <td>Sonya@gmail.com</td>
                    <td>1231234</td>
                    <td>usuario</td>
                    <td>
                        <button class="icon-btn info"><i class='bx bx-info-circle info' ></i></button>
                        <button class="icon-btn edit"><i class='bx bx-edit-alt edit' ></i></button>
                        <button class="icon-btn delete"><i class='bx bx-trash delete' ></i></button>
                    </td>

                </tr>
                <tr>
                    <td>Jena Gaines</td>
                    <td>jena@gamil.com</td>
                    <td>6545324</td>
                    <td>usuario</td>
                    <td>
                        <button class="icon-btn info"><i class='bx bx-info-circle info' ></i></button>
                        <button class="icon-btn edit"><i class='bx bx-edit-alt edit' ></i></button>
                        <button class="icon-btn delete"><i class='bx bx-trash delete' ></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Quinn Flynn</td>
                    <td>quin@gmail.com</td>
                    <td>6465756</td>
                    <td>usuario</td>
                    <td>
                        <button class="icon-btn info"><i class='bx bx-info-circle info' ></i></button>
                        <button class="icon-btn edit"><i class='bx bx-edit-alt edit' ></i></button>
                        <button class="icon-btn delete"><i class='bx bx-trash delete' ></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

