<div class="form-container">
    <div class="header">
        <h1>Nuevo Usuario</h1>
    </div>
    <form action="" class="userform">
        <div class="form-col" style="margin-right: 50px;">
            <div class="form-group">
                <p>Nombre:</p>
                <input type="text" id="pass" formControlName="user">
            </div>
            <div class="form-group">
                <p>Correo:</p>
                <input type="text" id="pass" formControlName="user">
            </div>
            <div class="form-group">
                <p>DNI:</p>
                <input type="text" id="pass" formControlName="user">
            </div>
        </div>
        <div class="form-col" style="margin-left: 50px;">
            <div class="form-group">
                <p>Usuario:</p>
                <input type="text" id="pass" formControlName="user">
            </div>
            <div class="form-group">
                <p>Rol:</p>
                <select name="" id="">
                    <option value="administrador">Administrador</option>
                    <option value="usuario">Usuarios</option>
                </select>
            </div>
        </div>
        <div class="form-col" style="margin-left: auto;">
            <div class="form-group" style="margin-top: auto;">
                <button id="usuario" (click)="usuario()">Regresar</button>
                <input type="submit" value="Guardar">
            </div>
        </div>
        
        
    </form>
</div>